langchain==0.1.12
langchain-community==0.0.28
langchain-core==0.1.31
langchain-openai==0.0.8
langchain-pinecone==0.0.3
langchain-text-splitters==0.0.1
pinecone-client==3.1.0
pinecone-text==0.8.0
openai==1.14.0
streamlit==1.32.1
transformer
