.section_title {
    font-size: 40px;
    font-weight: bold;
    margin: 20px auto 8px auto;
    color: black;
}


.section_content {
    line-height: 30px;
    word-break: keep-all;
}

.section_space {
    margin: 10px auto;
}

.st-emotion-cache-1c7y2kd {
    flex-direction: row-reverse;
    text-align: right;
}

.st-emotion-cache-1flajlm eeusbqq3{
    background: linear-gradient(135deg, rgb(0, 178, 255) 0%, rgb(0, 106, 255) 100%); 
    color: white;
    border-radius: 20px;
}
